*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(211, 210, 210);
}
.header{
    position: fixed;
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 50px;
    z-index: 2;
}

.logo_position{
    position: fixed;
    left: 120px;
    top: 5px;
}
.git_hub_icon{
    position: relative;
    left: 36rem;
    bottom: 30px;
    width: 40px;
}
.linkedin_logo{
    width: 60px;
    position: relative;
    left: 35.8rem;
    bottom: 30px;
}
.google_search_bar_position{
    position: fixed;
    left:30rem;
    top: 14px;
}
.termometro{
    width: 60px;
    position: relative;
    bottom: 5px;
    left: 10px;
}
.search_bar{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 8, 8);
    outline: none;
    border-radius: 3px;
    border: 1px solid transparent;
    width: 250%;
    height: 20px;  
}
.search_icon{
    width: 20px;
    position: relative;
    left:29rem;
    bottom: 21px;
}
.submit_button{
    background-color: transparent; 
    cursor: pointer;
    position: absolute; 
    color: transparent;
    border: transparent;
    left: 29rem; 
    top: 1px;
    z-index: 1;  
}
.li{
    list-style-type: none;
}

.link_home{
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    left: 0.5rem;
    top: 5px;
}
.link_home:hover{
    color: gray;
}
.link_simulador{
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    left: 4.5rem;
    bottom: 16px;
}
.link_simulador:hover{
    color: gray;
}
.link_calculadora{
    color:gray;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    left: 11rem;
    bottom: 37px; 
}
.link_calculadora:hover{
    color: gray;
}
.link_ref{
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    left: 18.3rem;
    bottom: 57px;
}
.link_ref:hover{
    color: gray;
}


.nav_header{
    background-color: rgb(20, 20, 20);
    width: 31%;
    border-bottom-right-radius:3px ;
    height: 35px;
    position: relative;
    left: px;
    bottom: 60px;
}

.container{
    /* border: 1px solid gray; */
    border-radius: 3px;
    text-align: center;
    background-color: white;
    width: 750px;
    height: 88rem;
    position: absolute;
    left: 18rem;
    top: 280px;
}
.background_capa{
    width: 100%;
    height: 500px;
  
}

.titles{
    font-size: 38px;
    font-family:monospace;
    font-weight: 500;
}
.paragrafos{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 22px;
    line-height: 40px;
}
.footer{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 10rem;
    position:absolute;
    top: 110rem;
}
.link_anterior{
    padding: 11px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    left: 30rem;
    top: 5.3rem;
}
.link_anterior:hover{
    background-color:rgb(65, 64, 64); ;
}
.link_proxima:hover{
    background-color: rgb(65, 64, 64);
}

.link_proxima{
    padding: 11px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    left: 41rem;
    top: 3.9rem;
}
.link_topo{
    padding: 11px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    outline: none;
    text-decoration: none;
    position: relative;
    left: 34rem;
    top: 3.1rem;
}
.link_topo:hover{
    background-color: rgb(65, 64, 64);
}

/* Calculadora  */

.div_calculadoraRendimento{
    background-color: rgb(33, 151, 151);
    width: 400px;
    border: solid 2px black;
    border-radius: 12px;
    height: 530px;
    position: relative;
    left: 180px;
    top: 100px;
}
.rendimento{
    font-family: cursive;
    font-size: 40px;
    border-radius: 100px;
    color: white;
    padding: 15px;
    position: absolute;
    top: 22px;
    left: 25px;
    background-color: orange;
    z-index: 1;

}
.SimboloDeIgual{
    position: absolute;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    left: 82px;
    top: 30px;
    z-index: 2;
}
.display{
    font-size: 80px;
    border: solid 2px black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    width: 360px;
    height: 200px;
    position: relative;
    top: 15px;
    left: 20px;
}
.qtd_trabalho{
    font-size: 40px;
    padding: 20px;
    border-radius: 300px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    right: 80px;
}

.input_trabalho{
    position: relative;
    text-align: center;
    border: solid 2px black;
    font-size: 24px;
    height: 70px;
    outline: none;
    width: 100px;
    top: 120px;
    right: 175px;
}
.div_Trabalho{
    position: relative;
    left: 40px;
}
.deltaU{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 174, 226);
    width: 40px;
    color: white;
    padding: 20px;
    border-radius: 300px;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 24px;
}
.deltaUResultado{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 160px;
    z-index: 2;
}
.simboloDeIgualdeltaU{
    position: absolute;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    left: 110px;
    top: 120px;
    z-index: 2;
}
.deltaULegenda{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 174, 226);
    width: 30px;
    color: white;
    padding: 20px;
    border-radius: 300px;
    position: relative;
    top:110px ;
    left: 150px;
}
.legendaDeltaU{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 64px;
    left: 55px;
}
.energia_termica{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;
    padding: 20px;
    border-radius: 300px;
    position: relative;
    bottom: 40px;
    left: 30px;
}
.div_Energia{
    position: relative;
    left: 100px;
}
.input_energia{
    position: relative;
    top: 60px;
    text-align: center;
    border: solid 2px black;
    font-size: 24px;
    height: 70px;
    outline: none;
    width: 100px;
    top: 50px;
    right: 65px;
}
.button_calcular{
    font-size: 30px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    outline: none;
    position: relative;
    top: 100px;
    right: 10px;
}
.button_calcular:hover{
    color: rgb(41, 40, 40);
}
.button_limpar{
    font-size: 30px;
    padding: 10px;
    outline: none;
    border: solid 2px black;
    border-radius: 10px;
    position: relative;
    top: 100px;
    right: 0px; 
}
.button_limpar:hover{
    color:rgb(41, 40, 40);
}
.legendaCalculadoraTitulo{
    position: relative;
    top: 210px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.lis{
    position: relative;
    top: 200px;
    left: 10px;
}
.trabalho{
    font-size: 20px;
    padding: 20px;
    width: 20px;
    border-radius: 300px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 150px;
    top: 50px;
}
.calor{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;
    padding: 20px;
    width:30px ;
    border-radius: 300px;
    position: relative;
    left: 150px;
    top: 70px;
   
}
.rendimentoLegenda{
    font-family: cursive;
    font-size: 30px;
    width: 15px;
    border-radius: 100px;
    color: white;
    padding: 15px;
    background-color: orange;
    position: relative;
    left: 160px;
    top: 92px;
}
.legendaRendimento{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    left: 30px;
}
.legendaTrabalho{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0px;
    left: 20px;
}
.legendaCalor{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 23px;
    left: 35px;
}
.senai_logo_footer{
    width: 350px;
    position: relative;
    left: 58rem

}

@media screen and (min-width:1600px){
    .container{
            position: absolute;
            left: 400px;
    }
    .nav_header{
        width: 400px;
    }
    .senai_logo_footer{
        position: relative;
        left: 74rem;
        bottom: 20px;
    }
    .link_proxima{
        position: relative;
        left: 45rem;
    }
    .link_anterior{
        position: relative;
        left: 34rem;
    }
    .link_topo{
        position: relative;
        left: 38.5rem;
    }
    .git_hub_icon{
        position: relative;
        left: 45rem;
    }
    .linkedin_logo{
        position: relative;
        left: 45rem;
    }
}